@model MatchResponse
@if (@Model != null && @Model.Data != null && @Model.Data.Results.Any())
{
    <section class="border-top-1px border-base-light margin-top-6">
        <h2>Results</h2>
        @foreach (var result in @Model.Data.Results)
        {
            @if (result.Matches.Any())
            {
                <table class="usa-table">
                <thead>
                    <tr>
                        <th scope="col">State</th>
                        <th scope="col">Case ID</th>
                        <th scope="col">Participant ID</th>
                        <th scope="col">Benefits end month</th>
                        <th scope="col">Recent benefits months</th>
                        <th scope="col">Protect location?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in result.Matches)
                        {
                            <tr>
                                <td class="text-uppercase">@record.State</td>
                                <td>@record.CaseId</td>
                                <td>@record.ParticipantId</td>
                                <td>@record.BenefitsEndMonth</td>
                                <td>@record.RecentBenefitMonthsDisplay</td>
                                <td>@record.ProtectLocationDisplay</td>
                            </tr>
                        }
                    </tbody>
                </table>
            } else
            {
                <h3>No matches found</h3>
            }
        }
    </section>

}

