@model MatchResponse
@if (Model != null && Model.matches.Any())
{
    <h2>Results</h2>
    <table class="usa-table">
    <caption>Lookup ID: @Model.lookupId</caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">SSN</th>
            <th scope="col">State</th>
            <th scope="col">Case ID</th>
            <th scope="col">Participant ID</th>
            <th scope="col">Benefits end month</th>
            <th scope="col">Recent benefits months</th>
            <th scope="col">Protected location for vulnerable individuals</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in @Model.matches)
            {
                <tr>
                    <td>@record.FirstName @record.MiddleName @record.LastName</td>
                    <td>@Html.DisplayFor(m => record.DateOfBirth)</td>
                    <td>@record.SocialSecurityNum</td>
                    <td>@record.State</td>
                    <td>@record.CaseId</td>
                    <td>@record.ParticipantId</td>
                    <td>@record.BenefitsEndMonth</td>
                    <td>@record.RecentBenefitMonthsDisplay</td>
                    <td>@record.ProtectLocationDisplay</td>
                </tr>
            }
        </tbody>
    </table>
}
